* {
    padding:0;
    margin:0;
	box-sizing: border-box;
}

.modal{
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, .7);
	position: fixed;
	z-index: 9000;
	visibility:hidden;
}
.modalWindows{
	margin:10% auto; 
	width: 550px;
	height:320px;
	background-color: rgba(240,240, 240, 1); 
}

.headerModalWindowClose{
	width: 100%;
	height: 20px;
}

.headerModalWindowClose img{
	float: right;
	width: 20px;
	padding: 3px;
}

.headerModalWindowClose img:hover{
	opacity: .6;
}

.contentModalWindowTitle{
	width: 510px;
	height: 65px;
	border:2px solid black;
	margin:0px auto;
	text-transform: uppercase;
	font-weight: 700;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	padding: 25px 0px 20px 20px;
}

.contentModalWindowText{
	width: 510px;
	min-height: 40px;
	text-align: center;
}

.contentModalWindowInput{
	width: 260px;
	margin: 0 auto;
	
}
.modalInputText{
	display: block;
	margin: 3px;
	background-color: rgba(0, 0, 0, .15);
	border:none;
	width: 254px;
	height: 35px;
	font-weight: 700;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	padding: 10px;
}

.footerModalWindowButton{
	width: 260px;
	margin: 0 auto;
	padding:20px 3px;
}

	.footerModalWindowButton a{
		float:right;
		background-color:orange;
	
   		padding: 10px 30px; 	
    	font-size:13px;
    	font-weight:700;
    	color: white;
		font-family:Arial, Helvetica, sans-serif;
   	 	text-transform:uppercase;
   	 	text-align: center;
	}
	.footerModalWindowButton a:hover{
		background-color:red;
		color: black;
	}



.wrapper{
	min-width: 320px;
	margin: 0 auto;
	height: auto;
}

html{height:100%;}

header{
	width: 100%;
	height: auto;
	background-color:#1f1e1e;
}
footer{
	width: 100%;
	height: 1000px;
}

a{	
	cursor: pointer;
	text-decoration: none;
}

.headerImage{
    background-image:url('../img/HeaderImage.png');
    background-position: center center;         
    background-size: cover;      
	width:100%;
	min-height: 100vh;
	/*height: 550px;*/
}

.content{
	width: 750px;
	margin: 0 auto;
	height: auto;
}

.headerContext{
	width: 600px;
	float: left;
	height: auto;
	margin-top:80px;
}

.headerContextTitle{
	width: 100%;
	height: 150px;
	border:4px solid rgba(255, 255, 255, 1);
	text-transform: uppercase;
	font-weight: 900;
	font-family:Arial, Helvetica, sans-serif;
	color: rgba(255, 255, 255, 1);
	line-height: 1.1;
	padding:15px 0px 15px 20px; 
}

.title{
	float: left;
	font-size:54px;
}
.subtitle{
	float: left;
	font-size:35px;
}

.headerSubContext{
	width: 100%;
	height: 150px;
	background-color: rgba(255, 255, 255, 0.6);
}

.headerSubContextTitle{
	width: 100%;
	height: auto;
	text-transform: uppercase;
	font-weight: 900;
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	padding: 10px 0px 10px 20px;
}

.headerSubContextList{
	width: 100%;
	height: auto;
	text-transform: uppercase;
	font-weight: 700;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	padding: 5px 0px 20px 20px;
}
	.headerSubContextList li{
		list-style-type: none;
	}

.circle{
	font-size: 25px;
	line-height: 0.7;
	margin-right:10px; 
	vertical-align: middle;
}

.headerCostContext{
	width: 100%;
	height: auto;
}
	.headerCostContext img{
		width: 380px;
		padding: 50px 0px 5px 20px;
	}

.headerOrderButton{
	width: 100%;
	height: auto;
}
	.headerOrderButton a{
		margin: 10px 0px 10px 20px;
		background-color: rgb(185, 33, 65);
		display: inline-block;
   		padding: 15px 90px; 	
    	font-size:16px;
    	font-weight:900;
    	color: black;
		font-family:Arial, Helvetica, sans-serif;
   	 	text-transform:uppercase;
   	 	text-align: center;
	}
	.headerOrderButton a:hover{
		background-color: rgb(150, 33, 65);
		color: white;
	}

.headerDownButton{
	text-align: center;
}
	.headerDownButton img{
		width: 60px;
		margin-top: 50px;
		opacity: .8;
	}
	.headerDownButton img:hover{
		opacity: 1;
	}	
.headerMenu{
	width: 100%;
	height: 140px;
	background-color:rgba(47, 44, 44, 1);
}

.headerMenuLogo{
	display: inline-block;
	float:left;
	height: auto;
}
	.headerMenuLogo img{
		width: 210px;
		padding:20px;
	}

.headerMenuLogo.scroll > img{
	width: 120px;
	padding: 10px 20px;
}

.headerMenuList{
	display: inline-block;
	float: right;
	height: auto;
	text-align: center;
}
.headerMenuList ul{
	display: inline-block;
	margin:50px 20px 40px auto;
	list-style-type: none;
}
	.headerMenuList li{
        display:inline-block;
        width: 25%;
    }
    .headerMenuList a{
    	background-color:#1f1e1e;
    	display:block;
    	text-decoration:none;
    	font-size:12px;
    	color:rgba(255, 255, 255, 1);
    	font-weight:500;
        font-family:Arial, Helvetica, sans-serif;
    	text-transform:uppercase;  
 		padding: 15px 35px;
    	border:1px solid rgba(255, 255, 255, 1);
	}
    .headerMenuList a:hover {
    	background-color:rgba(93, 200, 152,1);
    	color: black;
	}

.headerMenuList.scroll > ul{
	margin:10px 20px 10px auto;
}

.headerMenu.scroll{
	height: 60px;
}

.headerContacts{
	width: 100%;
	height: auto;
	background-color:#1f1e1e; 
}

.contacts{
	display: inline-block;
	margin:6px auto 6px 85px; 
	vertical-align: middle; 
}

.number{
	display: inline-block;
	color:rgba(255, 255, 255, 1);
    font-weight:500;
    font-family:Arial, Helvetica, sans-serif;
   	text-transform:uppercase; 
   	font-size:14px;
   	margin:5px 10px 5px 0px;
}
.phoneLogo{
	display: inline-block;
	width: 10px;
	margin: 5px; 
	vertical-align: middle;
}

.contactsOrderButton{
	display: inline-block;
	padding: 8px 20px;
	float: right;

}
.contactsOrderButton a{
	background-color:rgba(93, 200, 152,1);
    display:block;
    text-decoration:none;
    font-size:9px;
    color: black;
    font-weight:700;
    font-family:Arial, Helvetica, sans-serif;
    text-transform:uppercase;  
 	padding: 7px 20px;

}
    .contactsOrderButton a:hover {
    	background-color:rgba(93, 200, 152,1);
    	color:rgba(255, 255, 255, 1);
	}

.headerContent{
	width: 100%;
	z-index: 999;
}
.characteristics{
	width: 100%;
	height: auto;
}

.characteristics .content{
	padding: 80px 0px 80px 0px;
}

.characteristics.scroll{
	margin-top: 150px;
}

.characteristicsBlockHeader{

	border: 1px solid black;
	height: auto;
}

.characteristicsBlockHeaderTitle{
	display: inline-block;
	width: 80%;
	height: auto;
	text-transform: uppercase;
	font-weight: 800;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	padding-left: 20px;
}

.characteristicsBlockHeaderLogo{
	display: inline-block;
	width: 20%;
	height: auto;
	padding:20px 25px;	
}
	.characteristicsBlockHeaderLogo img{
		width: 30px;
	}

.characteristicsBlockContent{
	width: 100%;
	height: auto;
	text-transform: uppercase;
	font-weight: 700;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	padding:40px 20px;
	border:1px solid black;
}
	.characteristicsBlockContent li{
		list-style-type: none;
	}

#leftBlock{
	display: inline-block;
	width: 50%;
}
	#leftBlock .characteristicsBlockHeaderLogo{
		background-color: black;
	}

#rightBlock{
	display: inline-block;
	width: 50%;
}
	#rightBlock .characteristicsBlockHeaderLogo{
		background-color:rgba(93, 200, 152,1);
	}

.services{
	width: 100%;
	min-height: 600px;
	background-color: #333;
	padding:30px 0px 100px 0px;
}

.servicesHeader{
	width: 100%;
	border:2px solid white;
	height: auto;
	margin-bottom: 30px;
}
.servicesHeaderContent{
	width: 300px;
	margin: 0 auto;
	padding: 0px 79px;
}
.servicesHeaderTitle{
	display: inline-block;
	text-transform: uppercase;
	font-weight: 700;
	font-family:Arial, Helvetica, sans-serif;
	font-size:27px;
	text-align: center;
	vertical-align: middle;
}

.servicesHeaderLogo{
	display: inline-block;
	vertical-align: middle;
}
	.servicesHeaderLogo img{
		width: 25px;
		margin: 10px 5px;
	}


.firstOptionBlock{
	width: 100%;
	height: 140px;
	position: relative;
	padding: 10px 0px 20px 90px;
}
	.firstOptionBlock .OptionBlockContent{
		transform: skew(-40deg);	
		background-color: red;
		margin-left: 50px;
	}
	.firstOptionBlock .OptionBlockBorder{
		background-color: red;
		margin: -10px auto auto 10px;
			
	}

.secondOptionBlock{
	width: 100%;
	height: 150px;
	position: relative;
	margin-top: -10px;
	padding: 10px 90px 20px 0px;	
}
	.secondOptionBlock .OptionBlockContent{
		transform: skew(40deg);
		background-color: green;
		margin-left: 50px;
	}
	.secondOptionBlock .OptionBlockBorder{		
		background-color: red;
		margin:-10px auto auto 510px;
	}
	.secondOptionBlock .circle{
		font-size: 25px;
		line-height: 0.7;
		margin-left:10px; 
		vertical-align: middle;
		float:right;
	}

.thirdOptionBlock{
	width: 100%;
	height: 130px;
	position: relative;
	margin-top: -20px;	
	padding: 10px 0px 20px 90px;
}
	.thirdOptionBlock .OptionBlockContent{
		transform: skew(-40deg);	
		background-color: red;
		margin-left: 50px;
	}
	.thirdOptionBlock .OptionBlockBorder{
		background-color: red;
		margin: -10px auto auto 10px;
			
	}

.fourthOptionBlock{
	width: 100%;
	height: 130px;
	position: relative;
	margin-top: 0px;	
	padding: 10px 90px 20px 0px;
}
	.fourthOptionBlock .OptionBlockContent{
		transform: skew(40deg);
		background-color: green;
		margin-left: 50px;
	}
	.fourthOptionBlock .OptionBlockBorder{		
		background-color: red;
		margin:-10px auto auto 510px;
	}

	.fourthOptionBlock .circle{
		font-size: 25px;
		line-height: 0.7;
		margin-left:10px; 
		vertical-align: middle;
		float:right;
	}

.OptionBlockContent{
	width: 560px;
	height: 100px;
}
.OptionBlockBorder{
	width: 140px;
	height: 140px;
	border-radius: 70px;
	text-align: center;
	padding: 30px;
	position: absolute;
	border:6px solid white;
	box-shadow: 0px 0px 15px 2px black inset;
	z-index: 100;
}

.OptionBlockContentList{
	position: absolute;
	z-index: 100;
	float: left;
	width: 450px;
}
	.OptionBlockContentList li{
		list-style-type: none;
		font-size:10px;
    	color: white;
    	font-weight:700;
    	font-family:Arial, Helvetica, sans-serif;
    	text-transform:uppercase;  
    	line-height: 2;
	}

.stepsWork{
	width:100%;
	min-height: 400px;
	
	/*background-color: #333;*/
}	
.backgroundStepsWork{
	width: 100%;
	position: absolute;
	z-index: -100;
}
.backgroundStepsWork img{
	width: 100%;
	height: 400px;
}

.navStepsWork{
	width: 100%;
	padding-top: 80px;
}
.navStepsWork ul{
	display: inline-block;
	list-style-type: none;
	text-align: center;
}
	.navStepsWork li{
        display:inline-block;
        margin:2px;
    }
    .navStepsWork a{
    	/*background-color:#333;*/
    	display:block;
    	text-decoration:none;
    	font-size:13px;
    	color:orange;
    	font-weight:500;
        font-family:Arial, Helvetica, sans-serif;
 		padding: 15px 31px;
    	border:1px solid orange;
	}
    .navStepsWork a:hover {
    	background-color:orange;
    	color: white;
	}

.slider-stepsWork{
	width: 100%;
	padding-top:30px;
}

.slider-stepsWork .navSliderStepsWorkLeft{
	float: left;
	position: absolute;
	z-index: 900;
	margin:50px 735px 50px 5px;
}

.slider-stepsWork .navSliderStepsWorkRight{
	color: white;
	position: absolute;
	z-index: 900;
	margin:50px 5px 50px 735px;
}

.slider-stepsWork .web-development{
	width: 710px;
	margin:0px 20px 20px 20px;	
	position: absolute;
	z-index: 110;
}

.webSliderLogo{
	display: inline-block;
	width: 20%;
	height: 160px;
	text-align: center;
	vertical-align: middle;
}
	.webLogo img{
		padding:10px;
		height: 90px;
	}

.slider-stepsWork .seo-promotion{
	width: 710px;
	margin:0px 20px 20px 20px;	
	position: absolute;
	opacity: 0;
}

.seoSliderLogo{
	display: inline-block;
	width: 16.6%;
	height: 160px;
	text-align: center;
	vertical-align: middle;
}
	.seoLogo img{
		padding: 10px;
		height: 90px;
	}

.slider-stepsWork .contextual-advertising{
	width: 710px;
	margin:0px 20px 20px 20px;	
	position: absolute;
	opacity: 0;
}

.contextualSliderLogo{
	display: inline-block;
	width: 25%;
	height: 160px;
	text-align: center;
	vertical-align: middle;
}
	.contextLogo img{
		padding: 10px;
		width: 150px;
		height: 100px;
	}

.slider-stepsWork .c-configuring{
	width: 710px;
	margin:0px 20px 20px 20px;	
	position: absolute;
	opacity: 0;
}

.cSliderLogo{
	display: inline-block;
	width: 25%;
	height: 160px;
	text-align: center;
	vertical-align: middle;
}
	.cLogo img{
		padding: 10px;	
		height: 100px;	
	}

#web0,#seo0,#context0,#config0{
	opacity: 0;
	width: 0px;
	height: 0px;
}	

.shares{
	width: 100%;
	min-height: 770px;
}

.sharesHeaderContent{
	width: 100%;	
	border:2px solid black;
	height: auto;
	margin: 30px auto;
}
.sharesHeaderTitle{
	margin: 0 auto;
	padding: 10px 0px;
	text-transform: uppercase;
	font-weight: 700;
	font-family:Arial, Helvetica, sans-serif;
	font-size:27px;
	text-align: center;
}

.sharesBlockContentLeft, .sharesBlockContentCenter, .sharesBlockContentRight{
	display: inline-block;
	width: 250px;
	height: 630px;
	position: absolute;
}

.sharesBlockContentLeft{
	padding-right:16px; 
	
}
.sharesBlockContentCenter{
	padding: 0px 8px; 
	margin-left: 250px;
}
.sharesBlockContentRight{
	padding-left:16px; 
	margin-left: 500px;	
}

.sharesBlockContentTitle{
	width: 100%;
	border:2px solid black;
	text-transform: uppercase;
	font-weight: 700;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-align: center;
	padding: 10px;
}

.sharesBlockContentImage img{
	width: 100%;
}

.sharesBlockContentList{
	margin-top: -4px;
	border:1px solid white;
	background-color: #333;
}

.sharesBlockContentListImage{
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 7px;
	background-color: green;
	margin:12px 5px;
}

.sharesBlockContentListImage img{
	width: 100%;
	padding: 3px;

}

.sharesBlockContentListContent{
	display: inline-block;
	font-weight: 300;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	vertical-align: middle;
	padding:5px 10px 10px 0px;
	color: white;
}

.sharesBlockContentFooter{
	width: 100%;
	background-color: #333;
}
.sharesBlockContentFooterContent{
	font-weight: 300;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	padding:20px 20px 10px 25px;
	color: white;
}
.sharesLagest{
	font-weight: 700;
	font-size:25px;
}
.sharesLage{
	font-weight: 900;
	font-size:25px;
}

.sharesBlockContentFooterButton{
	padding: 0px 25px 20px 20px;
	margin: 0 auto;
}
 	.sharesBlockContentFooterButton a{
    	background-color:green;
    	display:block;
    	text-decoration:none;
    	text-transform: uppercase;
    	font-size:15px;
    	color:white;
    	font-weight:500;
        font-family:Arial, Helvetica, sans-serif;
 		padding: 5px 10px;
    	text-align: center;
	}
    .sharesBlockContentFooterButton a:hover {
    	background-color:orange;
    	color: black;
	}

.sharesBlockContentRightTop{
	margin-bottom: 16px;
}

.sharesBlockContentRightTop, .sharesBlockContentRightBottom{
	width: 100%;
	height: 301.5px;
	position: relative;
}

.sharesImageTop, .sharesImageBottom{
	width: 100%;
	height: 301.5px;	
}
.sharesImageTop img{
	width: 100%;
	padding-top: 78px;
}
.sharesImageBottom img{
	width: 100%;
	padding-top: 50px;
}

.sharesBlockRightTop{
	background-color: rgba(30,200,30,.7);
}

.sharesBlockRightBottom{
	background-color: rgba(200,20,30,.7);
}

.sharesBlockRightTop, .sharesBlockRightBottom{
	width: 100%;
	height: 301.5px;	
	position: relative;
	margin-top: -301.5px;
}

.sharesBlockRightTitle{
	text-transform: uppercase;
	font-weight: 700;
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px;
}

.sharesBlockRightTop .sharesBlockRightTitle{
	padding:20px 20px 30px 20px;
}

.sharesBlockRightBottom .sharesBlockRightTitle{
	padding:20px 20px 10px 20px;
}

.sharesBlockRightContent{
	padding: 0px 10px 20px 20px;
	font-weight: 500;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: white;
}
	.sharesBlockRightContent p {
		margin-bottom:10px;
	}

.sharesBlockRightTop .sharesBlockRightContent {
	margin-bottom:30px;
}

.sharesBlockRightBottom .sharesBlockRightContent {
	margin-bottom:75px;
}

.sharesBlockRightFooter{
	width: 100%;
	text-align: center;
}	

.sharesBlockRightFooterTopImage{
	width: 100%;
}
.sharesBlockRightFooterTopImage img{
	width: 190px;
}

.sharesBlockRightFooterBottomTitle{
	font-weight: 700;
	font-family:Arial, Helvetica, sans-serif;
	font-size:28px;
	text-transform: uppercase;
}

.sharesBlockRightFooterButton{
	padding: 5px 20px 10px 20px;
	margin: 0 auto;
}
 	.sharesBlockRightFooterButton a{
    	background-color:red;
    	display:block;
    	text-decoration:none;
    	text-transform: uppercase;
    	font-size:15px;
    	color:white;
    	font-weight:500;
        font-family:Arial, Helvetica, sans-serif;
 		padding: 5px 10px;
    	text-align: center;
	}
    .sharesBlockRightFooterButton a:hover {
    	background-color:white;
    	color: black;
	}

.decorationPortfolioHeader{
	width: 100%;
	min-height: 250px;
}
.backgroundPortfolioHeader{
	width: 100%;

}
.backgroundPortfolioHeader img{
	width: 100%;
	height: 250px;
}
.backgroundPortfolioLogo{
	position: absolute;
	width: 100%;
	margin-top: -170px;
}
.backgroundPortfolioLogo img{
	width: 150px;
	margin-left: 42%;

}

.portfolio{
	width: 100%;
	min-height:400px;
	background-color: rgba(12,50,10,1); 
	margin-top: -5px;
}

.portfolio .navStepsWork{
	padding-top:50px;

}

   .portfolio .navStepsWork a{
    	color:white;
    	font-weight:500;
        font-family:Arial, Helvetica, sans-serif;
 		padding: 15px 31px;
    	border:1px solid white;
	}
    .portfolio .navStepsWork a:hover {
    	background-color:orange;
    	color: black;
	}
	.portfolio .web-development {
		width: 100%;
		height: auto;
	}

.portfolioContent{
	width: 100%;
	min-height:250px;
	margin-top: 20px;
}
.portfolioBlockContent{
	display: inline-block;
	width: 240px;
	height: 250px;
	margin:5px;
	background-color: #333;
}
.portfolioBlockContentImage{
	width: 100%;
	height: 76%;
}
.portfolioBlockContentImage img{
	width: 100%;
	padding: 10px;
}
.portfolioBlockContentButton{
	width: 100%;
	padding: 10px;
}

.portfolioBlockContentButton a{
    	display:block;
    	text-decoration:none;
    	font-size:15px;
    	color:white;
    	font-weight:500;
        font-family:Arial, Helvetica, sans-serif;
 		padding: 10px 30px;
    	text-align: center;
    	border:1px solid white;
	}
    .portfolioBlockContentButton a:hover {
    	background-color:orange;
    	color: black;
	}
#firstPortfolio, #secondPortfolio, #thirdPortfolio{
	width: 240px;
	height: 250px;
	margin:5px;
	background-color: #333;
}
.portfolioButtonOpen, .portfolioButtonClose{
	text-align: center;
	width: 300px;
	color: white;
	margin:  0px auto ;
	padding: 20px;
	position: relative;
}
